.contactUsMainContainer {
    height: 100vh;
    width: 100%;
    color: black;
}

.contactUsMainContainer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../assets/contactUs.jpg') no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
}

.headingContainer {
    padding-top: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 40px; */
}

.Icons {
    color: white;
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}


.location {
    margin-left: 142px;
}

.phone p {
    margin-left: 20px;
    font-weight: bold;

}

.call {
    margin-left: -132px;
}

.formContainerRapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

.formContainerRapper form {
    background-color: white;
    height: 420px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.formContainerRapper form input,
textarea {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 20px;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
}

.tag {
    color: rgb(163, 107, 4);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.submitBtn {
    padding: 12px;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    background-color: #ffc93d;
    box-shadow: 0 4px 7px;
    cursor: pointer;
}

.InputIconRapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mr18 {
    margin-right: 18px;
}

@media(max-width:1050px) {
    .formContainerRapper {
        flex-direction: column;
    }

    .contactUsInfo {
        margin-bottom: 50px;
    }

    .contactUsMainContainer {
        height: 1000px;
    }

    .contactUsMainContainer::before {
        height: 1000px;
    }

    span.material-symbols-outlined.Icons.email {
        margin-left: 0px;
    }
}

@media(max-width:610px) {
    .phone p {
        font-size: 10px;
    }

    .location {
        margin-left: 38px;
    }

    span.material-symbols-outlined.Icons.email {
        margin-left: -44px;
    }
}

@media(max-width:450px) {

    .formContainerRapper form input,
    textarea {
        font-size: 15px;
        padding: 11px;
        margin-top: 50px;
    }

    .formContainerRapper form {
        width: 350px;
        height: 500px;
    }

    .formContainerRapper textarea{
        padding-bottom: 35px;
    }
}

@media(max-width:360px){
    .formContainerRapper form {
        width: 320px;
    }
}

.errMsg{
    color: red;
    font-weight: bold;
}

.succMsg{
    color: rgb(17, 193, 17);
    font-weight: bold;
}