@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.ManiSection {
    display: flex;
    align-items: center;
    background-color: #07c2dc26;
}

.ImageContainer>img {
    height: 467px;
    width: 768px;
}

.TextContainer>h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.TextContainer>span {
    font-size: 20px;
}

.TextContainer {
    position: relative;
    margin-left: 60px;
    margin-bottom: 25px;
    animation: slide 2s 1;
}

.priceListBtn {
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #1866FD;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.priceListBtn>a {
    color: aliceblue;
    text-decoration: none;
}

.authBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 81px;
    position: relative;
    animation: slideUp 2s 1;
}

.signinBtn,
.signupBtn {
    border: none;
    outline: none;
    padding: 25px 50px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #FFC93D;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 7px;
}

.authBtnMainsectionLeft {
    position: relative;
    width: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 10px;
    display: none;
    animation: slideDownToUp 2s 1;
}



/*Animations */
@keyframes slide {
    from {
        right: 20rem;
        opacity: 0;
    }

    to {
        right: 0rem;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        top: 20rem;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes slideDownToUp {
    from {
        top: 20rem;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/*Phone Responsive*/
@media (max-width:1425px) {

    .signinBtn,
    .signupBtn {
        padding: 25px 34px;
        font-size: 14px;
    }

    .authBtn {
        margin-left: 80px;
    }

    .ImageContainer>img {
        height: 439px;
        width: 700px;
    }
}

@media(max-width:1295px) {
    .TextContainer>h1 {
        font-size: 30px;
    }

    .priceListBtn {
        padding: 15px 20px;
        font-size: 17px;
    }
}

@media(max-width:1200px) {
    .authBtn {
        margin-left: 40px;
    }
}

@media(max-width:1150px) {
    .authBtn {
        display: none;
    }

    .authBtnMainsectionLeft {
        display: flex;
    }

    .ManiSection {
        /* justify-content: space-between; */
    }
}

@media(max-width:949px) {
    .TextContainer {
        margin-left: 35px;
    }

    .TextContainer>span {
        font-size: 13px;
    }

    .priceListBtn {
        padding: 15px 11px;
        font-size: 15px;
    }

    .signinBtn,
    .signupBtn {
        padding: 17px 18px;
        font-size: 14px;
    }
}

@media(max-width:870px) {
    .ImageContainer>img {
        height: 332px;
        width: 564px;
    }

    .TextContainer>h1 {
        margin-top: 30px;
        font-size: 25px;
    }
}

@media(max-width:705px) {
    .ImageContainer>img {
        height: 330px;
        width: 451px;
    }
}

@media(max-width:650px) {
    .ManiSection {
        height: 400px;
    }

    .TextContainer>h1 {
        margin-top: 0px;
        font-size: 30px;
    }

    .TextContainer>span {
        font-size: 17px;
    }

    .ImageContainer>img {
        display: none;
    }

    .ImageContainer::before {
        content: "";
        background: url('../../assets/mainContainerImg.png') no-repeat center center/cover;
        position: absolute;
        top: 286px;
        right: 0px;
        height: 289px;
        width: 451px;
        z-index: 1;
        opacity: 1;
    }

    .MainsectionLeft {
        z-index: 9;
    }
}

@media(max-width:445px) {
    .ImageContainer::before {
        top: 343px;
        right: 0px;
        height: 234px;
        width: 359px;
    }
}


/*Toastify*/
.Toastify__toast {
    border-radius: 1rem;
    box-shadow: 1px 10px 20px #BBC1B9;
    font-family: 'Ubuntu', sans-serif;
}

.Toastify__toast-theme--light {
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

@media(max-width:480px) {
    .Toastify__toast {
        top: 20px;
        width: 80%;
        left: 69px;
    }
}