.ManiSection {
    display: flex;
    align-items: center;
    background-color: #07c2dc26;
}

.ImageContainer>img {
    height: 467px;
    width: 768px;
}

.TextContainer>h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.TextContainer>span {
    font-size: 20px;
}

.TextContainer {
    margin-left: 60px;
    margin-bottom: 25px;
}

.priceListBtn {
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #1866FD;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.authBtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 81px;
}

.signinBtn , .signupBtn{
    border: none;
    outline: none;
    padding: 25px 50px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #FFC93D;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 7px;
}