nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 10px 20px #BBC1B9;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.listItem {
    display: flex;
}

.nbRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem>li {
    margin: 10px;
    margin-right: 31px;
    list-style: none;
}

.listItem>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.cartImg>img {
    margin-right: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.cartImg:hover {
    cursor: pointer;
}

.logo>img {
    height: 72px;
    width: 120px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/*hamburger*/

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    cursor: pointer;
    margin-right: 15px;
    z-index: 999;
}

.mobile .hamburger span {
    background: black;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.hamburger,
.logo {
    z-index: 9999;
}

.mobile ul.listItem {
    background: -webkit-linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
    align-items: center;
    justify-content: center;
}

.mobile ul.listItem li {
    padding: 10px;
}

.mobile ul.listItem.open {
    opacity: 1;
    pointer-events: auto;
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

/* Responsive*/

@media(max-width:800px) {

    .cartImg>img {
        position: absolute;
        right: 55px;
        top: 24px;
        height: 45px;
        width: 45px;
    }
}