nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 10px 20px #BBC1B9;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.listItem {
    display: flex;
}

.nbRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem>li {
    margin: 10px;
    margin-right: 31px;
    list-style: none;
}

.listItem>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.cartImg>img {
    margin-right: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.cartImg:hover {
    cursor: pointer;
}

.logo>img {
    height: 72px;
    width: 120px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/*Use extra code from here for hambarger*/

.phoneNavMenu {
    display: none;
    background: transparent;
}

.closeIcon,
.menuIcon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    display: none;
}

/* Responsive Part */
@media(max-width:700px) {
    .phoneNavMenu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuIcon {
        display: block;
    }

    .listItem {
        display: none;
    }

    .nav {
        position: relative;
    }

    .cartImg {
        left: 167px;
        position: relative;
    }

}

@media(max-width:615px) {
    .cartImg {
        left: 130px;
    }
}

@media(max-width:530px) {
    .cartImg {
        left: 100px;
    }
}


@media(max-width:470px) {
    .cartImg {
        left: 70px;
    }

    .cartImg>img {
        height: 42px;
        width: 42px;
    }

    .logo>img {
        height: 62px;
        width: 104px;
    }
}

@media(max-width:400px) {
    .cartImg {
        left: 50px;
    }
}