nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 10px 20px #BBC1B9;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.listItem {
    display: flex;
}

.nbRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem>li {
    margin: 10px;
    margin-right: 31px;
    list-style: none;
}

.listItem>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.cartImg>img {
    margin-right: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.cartImg:hover {
    cursor: pointer;
}

.logo>img {
    height: 72px;
    width: 134px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom:15px ;
}