.uppercategory {
    background-color: #BBFF34;
    margin-top: 15px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.uppercategory>img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.categoryImg:hover {
    cursor: pointer;
}

.objectFit {
    object-fit: cover;
}

/*Responsive Part*/


@media(max-width:730px) {
    .uppercategory>img {
        height: 100px;
        width: 100px;
    }
}


@media(max-width:635px) {
    .uppercategory>img {
        height: 65px;
        width: 65px;
    }

    .uppercategory {
        height: 85px;
    }
}