.uppercategory{
    background-color: #BBFF34;
    margin-top: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.uppercategory>img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.categoryImg:hover{
    cursor: pointer;
}

.objectFit{
    object-fit: cover;
}